.linksList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.linksList_nesting {
    width: 100%;
}

.linkItem {
    border-bottom: 1px solid #dedede;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.linkItem_nesting {
    border-bottom: none;
    padding-bottom: 5px;
}

.linkItem_nesting .link {
    padding: 5px 0;
}

.rollupBtn {
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background: url('/images/icon-rollup.svg') no-repeat center;
    transform: rotate(-90deg);
}

.rollupBtn_rolled {
    transform: rotate(0deg);
}

.hidden {
    display: none;
}
