.icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  cursor: pointer;
}

.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 20px;
}

.icon__button {
  width: 22px;
  height: 22px;

  border: none;
  background: url('../../../public/images/x-mark.svg');

  cursor: pointer;
}

.icon__button:focus {
  outline: none;
}
