.milestone__date {
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--p-blue);
}

@media screen and (max-width: 768px) {
  .milestone__date {
    margin-bottom: 9px;
    font-size: 12px;
  }
}
