.offices__header {
  max-width: 1160px;
  margin: 0 auto 57px auto;

  font-size: 36px;
  line-height: 1.3;
  font-family: var(--font-montserrat);
  font-weight: 500;
  color: var(--grey-default);
}

@media screen and (max-width: 768px) {
  .offices__header {
    max-width: 375px;
    margin: 0 auto 16px;
    font-size: 12px;
  }
}
