.products__search-input {
  flex-grow: 1;
  font-family: var(--font-montserrat);
  padding: 12px 0 12px 15px;
  width: 80px;
  border: 1px solid var(--font-non-active);
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  line-height: 16px;
}

.products__search-input::placeholder {
  color: var(--placeholder);
}
