.tabsList__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 15px;
}

.tabsList {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background: white url('/images/bg-line.svg') no-repeat bottom;
    list-style: none;
    padding: 12px 0 0;
    margin: 0;
    transition: max-width 0.2s ease-in-out;
}

.tabsList::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 1px;
    left: -20px;
    background-color: #fff;
    z-index: -1;
}

.tabsList__button {
    color: inherit;
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
}

.tabItem {
    font-family: var(--font-montserrat);
    color: var(--p-grey-dark);
    font-size: 22px;
    line-height: 27px;
    padding: 0 15px 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .tabItem {
        font-size: 14px;
        line-height: 1.4;
        padding: 0 8px 8px;
    }

    .tabsList {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }
}
