.future-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  box-shadow: 2px 4px 8px 0 rgba(2, 86, 156, 0.1);

  background: #f3f5f8;
  border-radius: 5px;
}

.future-card_big {
  padding: 44px 54px;
}

.future-card_little {
  align-items: center;
  padding: 35px 70px;
}

@media screen and (max-width: 768px) {
  .future-card {
    box-shadow: none;
    border-radius: 0;
    padding: 8px;
    flex-grow: 1;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .future-card:not(:nth-child(3n + 3)) {
    margin-right: 10px;
  }

  .future-card_big {
    align-items: center;
    padding: 8px;
  }

  .future-card_little {
    align-items: center;
    padding: 8px;
  }
}
