.future-card__icon {
  display: block;
}

.future-card__icon_big {
  width: 90px;
  margin-bottom: 20px;
}

.future-card__icon_little {
  width: 55px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .future-card__icon {
    display: block;
  }

  .future-card__icon_big {
    width: 20px;
    margin-bottom: 9px;
  }

  .future-card__icon_little {
    width: 20px;

    margin-bottom: 9px;
  }
}
