.partner {
  display: flex;
  align-items: center;

  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  padding-right: 194px;

  background: #f3f5f8;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .partner {
    flex-direction: column;
    padding: 20px 20px 10px;
    border-radius: 0;
  }
}
