.tabApplication {
  overflow-x: auto;

  background-color: #f3f5f8;
  border-radius: 3px;
}

.tabApplication__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  float: left;

  box-sizing: border-box;
  padding: 68px;
}
