.feature {
  display: flex;
  flex-direction: column;
  padding: 60px 54px;

  background: #f3f5f8;
  border-radius: 5px;

  font-family: var(--font-montserrat);
}

@media screen and (max-width: 768px) {
  .feature {
    border-radius: 0;
    padding: 14px 15px 19px;
  }
}
