.ask {
    background-color: var(--tab);
    border-radius: 5px;
    padding: 44px 57px 45px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 144px auto 120px;
}

.contentWrapper {
    display: flex;
}

.ask__image {
    width: 106px;
    height: 95px;
    object-fit: cover;
    margin-right: 43px;
}

.ask__text {
    font-family: var(--font-montserrat);
    margin-right: 50px;
    font-size: 20px;
    line-height: 130%;
    color: var(--grey-default);
}

.ask__link {
    display: block;
    min-width: 260px;
    background-color: var(--p-orange-accent);
    border: none;
    border-radius: 5px;
    padding: 25px 0;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-montserrat);
    color: white;

    transition: all 300ms ease;
}

.ask__link:hover {
    opacity: 0.6;
}

.ask__link:focus {
    outline: none;
}

.ask__link:active {
    opacity: 0.3;
}

.ask__hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .ask {
        margin-top: 34px;
        margin-bottom: 0;
        flex-direction: column;
        padding: 0;
    }

    .contentWrapper {
        display: flex;
        padding: 23px 21px;
        max-width: 375px;
        align-items: center;

        background: #f3f5f8;
    }

    .buttonWrapper {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 60px;
    }

    .ask__text {
        font-size: 9px;
        margin: 0;
    }

    .ask__image {
        width: 53px;
        height: 48px;
        object-fit: cover;
        margin-right: 36px;
    }

    .ask__link {
        min-width: 140px;
        padding: 10px 0;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    }
}
