.event {
  display: flex;
  align-items: center;

  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  padding: 63px 160px 49px 81px;

  background: #ffffff;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .event {
    padding: 27px 26px 24px 13px;
  }
}
