.milestones__item {
    flex: 0 0 360px;
}
.milestones__item:not(:last-of-type) {
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .milestones__item {
        flex: 0 0 140px;
    }
}
