.logo {
  display: block;
  width: 261px;
  height: 62px;
  background: url("/images/logo-header.svg");
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 124px;
    height: 30px;
  }
}
