.filterForm {
    display: flex;
    justify-content: flex-start;
    border-radius: 3px;
}

.filterForm__resetBtn {
    align-self: center;
    font-size: 12px;
    border: 2px solid red;
    border-radius: 3px;
    padding: 3px 8px;
    background-color: white;
    font-family: var(--font-montserrat);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
    margin-left: auto;
}

.filterForm__resetBtn:hover {
    background-color: red;
    color: white;
}

.clearFiltersBtn {
    width: 1em;
    height: 1em;
    background-image: url('/images/ui/cancel-icon-red.svg');
    background-size: cover;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .filterForm {
        display: none;
    }
}
