.partner__info-wrapper {
  display: flex;
  flex-direction: column;

  padding: 32px 0 41px 0;

  font-family: var(--font-montserrat);
}

@media screen and (max-width: 768px) {
  .partner__info-wrapper {
    padding: 20px 0 10px;
  }
}
