.container {
  position: relative;
  font-family: var(--font-montserrat);
}

.mapHeader {
  position: absolute !important;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 20px;
}

.mapHeader__searchInput.changing {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mapHeader__button {
  width: 150px;
  height: 100%;
  font-size: 16px;
  line-height: 140%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 23px;
  border: none;
  margin-left: 20px;
}

.mapHeader__button.blue {
  background: #02569c;
  color: #fff;
}

.mapHeader__button.blue:hover {
  color: #fff;
}

.mapHeader__button.white {
  background: #fff;
}

.infoWindow {
  width: 180px;
  height: 70px;
}

.infoWindow__icon {
  color: #02569c;
}

.infoWindow__text {
  font-size: 14px;
  line-height: 140%;
}

.infoWindow__link {
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #f66e08;
  cursor: pointer;
}

.infoWindow__link:hover {
  color: #e46300;
}

@media screen and (max-width: 768px) {
  .mapHeader {
    flex-direction: column;
    padding: 10px;
  }

  .mapHeader__button {
    width: 100%;
    max-width: 100px;
    font-size: 12px;
    padding: 5px 0;
    line-height: 140%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 23px;
    border: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
