.future-card__text {
  font-family: var(--font-montserrat);
  color: var(--p-blue);
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.future-card__text_big {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
}

.future-card__text_little {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .future-card__text {
    font-size: 9px;
    font-weight: 400;
  }

  .future-card__text_big {
    font-size: 9px;
    font-weight: 400;
  }
}
